name: Update TRMNL

on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch from Night API Categories
        run: |
          IMAGES_JSON="["
          
          # Only fetch 2 from each category = 10 total images
          for category in gonewild ass boobs pussy thigh; do
            for i in {1..2}; do
              URL=$(curl -s -H "Authorization: fnE17McJPF-x88Qqbswv6hrN1NooS4r-4RTsgA4uQ5" \
                "https://api.night-api.com/images/nsfw/$category" | jq -r '.content.url')
              IMAGES_JSON+="{\"url\":\"$URL\"},"
            done
          done
          
          IMAGES_JSON="${IMAGES_JSON%,}]"
          PAYLOAD="{\"merge_variables\": {\"images\": $IMAGES_JSON}}"
          
          echo "$PAYLOAD" | curl -X POST "${{ secrets.TRMNL_WEBHOOK }}" \
            -H "Content-Type: application/json" \
            -d @-
